[Unit]
After=orbit.service
Description=Orbit Notifier

[Service]
ExecStart=/usr/local/bin/orbit-notifier
Restart=always

[Install]
WantedBy=default.target
